apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/vikrantparalkar/cicd-infrastructure-pipeline
    targetRevision: main                                     
    path: manifests                                 
  destination:
    server: https://kubernetes.default.svc                   
    namespace: default                                   
  syncPolicy:
    automated:
      prune: true                                            
      selfHeal: true                                  

